.currency-converter{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid rgb(43, 45, 75);
  margin: 0 auto;

  display: flex;
  align-items: center;

  &__item{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }
}